body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #D56E13;;
}


.quem-somos {
    background-color: #8181f7;
    color: white;
    
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}


.parceiros {
    background-color:black ;
    text-align: center;
    color: white
}

.bg-footer {
    background-color: black;
    color: white
}